<form action="/offers/" method="get">
    uid:<input type="text" name="uid">
    <br/>
    pub0: <input type="text" name="pub0">
    <br/>
    page: <input type="text" name="page">
    <br/>
    <input type="submit" value="Submit">
</form>
