<!DOCTYPE html>
<html>
  <head>
    <title>Fyber Offers</title>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
