</br>
<a href="/">Back Home</a>
<table>
  <tr>
    <td>Title</td>
    <td>Thumbnail</td>
    <td>Payout</td>
  </tr>
  <% offers.each do |offer| %>
    <tr>
      <td><%= offer.title %></td>
      <td><img src="<%= offer.thumbnail.lowres %>"></td>
      <td><%= offer.payout %></td>
    </tr>
  <% end %>
</table>

